/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, #60656b, #040e1b);
  color: #0f172a;
}

/* ================= NAV ================= */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, #010710, #60656b);
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  margin-left: 80px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-right: 50px;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s ease;
}

nav a:hover {
  color: #38bdf8;
}

nav a:hover::after {
  width: 100%;
}

/* ================= HERO ================= */
.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 100px;
  color: white;
}

.my {
  max-width: 500px;
  animation: fadeUp 1s ease forwards;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.badge {

  background: #f0f3f4;
  color: #020617;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 15px 0;
  border: none;
}


.badge:hover  {

    filter: drop-shadow(0 0 10px #ffdeff);
    
}
.bio{
  margin-top: 20px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

.bio a{
  text-decoration: none;
  color: #010710;
  
}


.bio:hover{
  display: block;
  filter: drop-shadow(0 0 10px #ffdeff);
  background-color: #bdddf8;
}

.hero-img img {
  width: 320px;
  border-radius: 30px;
  animation: fadeUp 1.2s ease forwards;
  margin-right: 100px;
}

/* ================= ANIMATION ================= */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ABOUT SECTION */
.section {
  min-height: 100vh;
  padding: 120px 100px;
}

/* Top Row */
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.about-img img {
  width: 320px;
  border-radius: 30px;
}

/* About Card */


.card {
  max-width: 700px;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  animation: fadeUp 1s ease forwards;
}



/* Hobbies Bottom */
.hobbies-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.hobby-card {
  width: 220px;
  background: #ffffff;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  cursor: pointer;
}

.hobby-card img {
  width: 60px;
  margin-bottom: 15px;
}

.hobby-card h3 {
  font-size: 16px;
  color: #1e293b;
}

.hobby-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 18px #c7d2fe;
}



/* ================= SKILLS ================= */
.section-dark {
  padding: 120px 100px;
  color: #f0f3f4;
}

.heading {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
}

.row2 {
  display: flex;
  gap: 60px;
}

.skills {
  flex: 1;
}

.progress {
  margin-bottom: 25px;
}

.progress h3 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #e5e7eb;
  border-radius: 50px;
  overflow: hidden;
}

.bar span {
  height: 100%;
  display: block;
  background: #38bdf8;
  animation: loadBar 1.5s ease forwards;
}

@keyframes loadBar {
  from { width: 0; }
}

.bar.html span { width: 95%; }
.bar.css span { width: 90%; }
.bar.python span { width: 85%; }
.bar.sql span { width: 80%; }
.bar.ps span { width: 95%; }
.bar.team span { width: 99%; }

/*SKILL BOXES  */



.box-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.box {
  background: #e5e7eb;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  transition: all 0.3s ease;
  color: #020617;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.box h3 {
  font-size: 28px;
  color: #38bdf8;
}
.box p{
    font-size: 20px;
    margin-top: 8px;
}

/* achievements*/
.section h2{
  color: #f0f3f4;
}
.achievement-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.achievement-card {
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s ease;
}

.achievement-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.achievement-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px #c7d2fe;
}


/*  PROJECTS  */
.section-py {
  min-height: 100vh;
  padding: 120px 100px;
}


.section-py h2{
    margin-bottom: 30px;
}

.project-card {
  background: #f8fafc;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  border-left: 6px solid #38bdf8;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/*  CONTACT */
.contact-section {
  min-height: 100vh;
  padding: 120px 100px;
  color: white;
}

.contact-container {
  display: flex;
  gap: 60px;
}

.contact-form { 
  flex: 1;
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
}

.contact-form h2{
     margin-bottom: 25px;
     color: #e6eaec;
     }

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
}



.contact-form button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  box-shadow: 0 0 20px #38bdf8;
  transform: translateY(-3px);
}

.contact-info {
  flex: 1;
  margin-top: 100px;
}

.contact-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 30px;
  border: 2px solid #38bdf8;
  color: #38bdf8;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #38bdf8;
  color: #020617;
}

/*  SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 300px;
}

.social-icons a {
  width: 45px;
  height: 45px;
  border: 2px solid #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38bdf8;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #38bdf8;
  color: #020617;
  transform: scale(1.2) rotate(5deg);
}
